*{
  box-sizing: border-box;   
  font-family: 'Open Sans';
  margin: 0 auto;   
  padding: 0;   
  margin-left: 10px;
}
a{
    text-decoration: none;
    font-size: 25px;
}
.home {
  background-image: url("../img/sole.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 600px;
  background-position: right;
  background-attachment: fixed;
}
.nonbre {
  font-family: 'Work Sans';
  color: #3e4050;
  font-size: 45px;
}
#twist {
  font-family: 'Raleway';
  background-color: rgba(0, 0, 0, 0.10);
  font-size: 40px;
  font-weight: bold;
  color: #9ea3c7;
}
.descripcion {
  font-family: 'Open Sans';
  font-size: 16px;
  max-width: 860px !important;
  color: #ee68ad;
  text-align: justify;
}
.descripcion a {
  font-size: 16px;
}
@media (max-width: 600px)  {
  a{
    font-size: 15px;
  }
  .nonbre {
    font-size: 15px;
  }
  #twist {
    font-size: 15px;
  }
  .descripcion {
    font-size: 12px;
    max-width: 290px !important;
  }
  .descripcion a {
    font-size: 12px;
  }

}
